/empty
/empty/*

TI46/datasets/*
TI46/lightning_logs
TI46/lightning_logs/*

GSC/datasets
GSC/datasets/*
GSC/lightning_logs
GSC/lightning_logs/*

GSC/logs
GSC/logs/*

lightning_logs/
lightning_logs/*
/lightning_logs
/lightning_logs/*
/lightning_logs/